{% extends "_layout.html" %} {% block content %}

<h1>hello</h1>
{% if not current_user.is_following(user)%}
<form action="{{url_for('follow.create', idol_id=user.id)}}" method="POST">
  <button class="btn btn-outline-warning">
    Follow
  </button>
</form>
{% else %}
<a href="{{url_for('follow.delete', id=user.id)}}">
  <button class="btn btn-outline-warning">Unfollow</button>
</a>

{% endif %}

<div>
  <h5>Followers: {{user.fans|length}}</h5>
  <h5>Following: {{user.idol|length}}</h5>
</div>
{% endblock %}
