body {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 20px;
  position: relative;
  min-height: 100vh;
  font-family: "Inconsolata", monospace;
  background-color: black;
  color: gold;
}

footer {
  font-size: 15px;
  margin-top: 30px;
  left: 20px;
  right: 0;
  text-align: center;
  color: gold;
}

footer a {
  left: 20px;
  text-decoration: none;
  color: gold;
}
